<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <div>
        <table class="table">
            <thead class="table-dark">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일시</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="postList, loop : ${postList}">
                    <td>
                        <a th:text="${postList.getId()}"></a>
                    </td>
                    <td>
                        <a th:href="@{|/post/${postList.getId()}|}" th:text="${postList.getSubject()}"></a>
                    </td>
                    <td th:text="${#temporals.format(postList.getPostTime(), 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${postList.getNickname()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form th:action="@{/post/upload}" method="get">
            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </div>
</body>
</html>